@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}
/* chrome safari edge and opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* For Webkit-based browsers (Chrome, Safari, etc.) */
/* You can customize these styles according to your preference */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #f0f7ff; /* Background color of the scrollbar track */
  border-color: #cfe0f7;
}

::-webkit-scrollbar-thumb {
  background-color: #BBCCEB; /* Color of the scrollbar thumb */
  border-color: #3068c8;
  border-radius: 10px; /* Rounded corners of the scrollbar thumb */
}

/* For Firefox */
/* You can customize these styles according to your preference */
/* Set the scrollbar width and color */
/* Note: Not supported in Safari */
/* You may need to use -moz prefix for older versions of Firefox */
scrollbar-width: thin;
scrollbar-color: #888 #f1f1f1;

.swiper {
  width: 80%;
  height: 40%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
